.slide-topbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #999999;
  z-index: 999;
  overflow: hidden;
  text-transform: capitalize;


}

.slide-topbar-inner {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  text-transform: capitalize;
  overflow: hidden;

}

.slide-topbar a {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 20px;
  white-space: nowrap;
  width: 100%;
}
.slide-topbar a:hover{
  color: #F44242;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 20px;
  white-space: nowrap;
}


@media (max-width: 768px) {
  .topbar {
    height: auto;
  }
  .topbar-inner {
    flex-wrap: wrap;
  }
  .topbar a {
    margin: 10px 0;
  }
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

nav li {
  margin: 0 20px;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  color: #F44242;
}

nav a:active {
  background-color: #ccc;
  color: #F44242;
}
nav a.active{
  color: #F44242;
}
