<div class="ticket-bill" *ngFor="let items of data.categories" >
  <mat-dialog-content *ngFor="let products of items.products ; let i = index;" [attr.data-index]="i">
    <div *ngIf="i === 0" class="items-list">
      <div class="counts">
     <p> {{products.name}}</p>
      <select>
        <option value="option1">1</option>
        <option value="option2">2</option>
        <option value="option3">3</option>
      </select>
        <div class="prices">
        {{products.unitPrice}}
        </div>
      <br>
      </div>
      <hr>
      <div class="totalprice">
        <p>        TOTALI
        </p>
        <div class="prices">
        {{products.unitPrice}}
        </div>
      </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()"><p>Dergo Faturen</p></button>
</mat-dialog-actions>
</div>
