.ticket-bill {
  overflow: hidden;
  text-transform: uppercase;
  margin-top: 30px;
}
  p{
  position: absolute;
  justify-content: center;
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
  align-items: center;
  overflow: hidden;

}
button{
  position: absolute;
  justify-content: center;
  display: flex;
  width: 370px;
  height: 51px;
  background-color: #F44242;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  top: 100%;

}

