.mat-dialog-container {
  overflow: hidden;
  position: absolute;
  width: auto;

}


.capital {
  font-size: 80px;
  font-weight: bold;
  color: white;
  transform: rotate(25deg);
  margin: 20px;
}
.product {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: -110px;
  margin-top: auto;
  margin-bottom: 10px;
}


.price {
  font-size: 18px;
  font-weight: bold;
  color: white;
  transform: rotate(270deg);
  margin-left: 64%;
  margin-bottom: 210px;
}
.price strong{
  color: #F44242;
  font-size: 21px;
}
.price p{
  color: #666666;
  font-size: 18px;
}

.square {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
}

.count {
  width: 40px;
  position: fixed;
  top:80%; left:93%;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: auto;
  color: white;
  display: flex;
  align-items: center;
  background-color: #F44242;
}


@media (max-width: 480px) {
  .square {
    width: 200px;
    height: 200px;
  }
  .count {
    width: 40px;
    position: fixed;
    top:80%; left:80%;
  }
  span p {
    margin-left: -70px;
    margin-top: -30px;
  }


  .square:nth-child(2) {
    left: 200px;
  }

  .square:nth-child(3) {
    top: 200px;
  }

  .square:nth-child(4) {
    top: 200px;
    left: 200px;
  }

  .square:nth-child(5) {
    top: 400px;
  }
  .square:nth-child(6) {
    top: 400px;
    left: 200px;
  }
  .square:nth-child(7) {
    top: 600px;
  }
  .square:nth-child(8) {
    top: 600px;
    left: 200px;
  }

  .square:nth-child(9) {
    top: 800px;
  }
  .square:nth-child(10) {
    top: 800px;
    left: 200px;
  }
}

@media (min-width: 481px) {
  .square {
    width: 300px;
    height: 300px;
  }


  .square:nth-child(2)  {
    left: 300px;
  }

  .square:nth-child(3) {
    left: 600px;
  }

  .square:nth-child(4) {
    left: 900px;
  }

  .square:nth-child(5) {
    left: 1200px;

  }
  .square:nth-child(6) {
    top: 300px;
  }
  .square:nth-child(7) {
    top: 300px;
    left: 300px;
  }
  .square:nth-child(8) {
    top: 300px;
    left: 600px;
  }

  .square:nth-child(9) {
    top: 300px;
    left: 900px;
  }
  .square:nth-child(10) {
    top: 300px;
    left: 1200px;
  }
}

.checkbox-group {
  display: inline-block;
  flex-wrap: wrap;
}

.checkbox-group label {
  display: block;
}

.checkbox-group .square {
  display: flex;
  background-color: #fff;
  cursor: pointer;
}

.checkbox-group input[type="checkbox"] {
  display: none;
}

.checkbox-group input[type="checkbox"]:checked + .square {
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
  border: 5px solid black;
}
