<div class="test">
<div class="dashboard" *ngFor="let items of data.categories"  >
<div class="checkbox-group"  *ngFor="let products of items.products" >
  <label>
    <input type="checkbox" name="square1" (click)="selectedSquareValue = 1"  >
    <div class="square">
      <div
        [ngStyle]="{'background-color': getRandomColor()}"  class="square" style="position: relative;  display: flex; ">
        <span class="capital">{{items.name.slice(0,1).toLocaleUpperCase()}}</span>
          <span class="product">{{products.name.slice(0,5) + '..'}}
        </span>
        <span class="price" ><p><strong>{{products.unitPrice}}</strong>&nbsp;lekë</p></span>
      </div>
    </div>
  </label>
</div>
</div>
<div class="ticket" >
  <div class="count" *ngIf="selectedSquareValue > 0"       (click)="openDialog()">
    <p>{{ selectedSquareValue}} </p>
  </div>
</div>

</div>
