.topbar  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  width: auto;


}
.name {
  margin-right: auto;
  margin-left: 10px;
}
.name p{
  margin-top: 35px;
}
.name h3{
  margin-bottom: -35px;
}
.initial-avatar {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Colors */
  background-color: #F44242;
  color: #fff;

  /* Rounded border */
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
